#obama { 
  text-align:center;
}

body {
  background-color:blue;
  color:white;
  text-align:center;
}

img {
  width:1000px;
}

.dates {
  font-weight:bold;
  margin-left:-25px;
}

li {
  list-style: none;
  list-style-position:inside;
  text-align:left;
  margin-left:33%;
}

a {
  color: yellow;
}
